
.ButtonClassic {
    background-color: var(--SecondaryColor);
    border: none;
    color: var(--TextColor);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    min-width: 220px;
    font-weight: bold;
}

.ButtonClassic:hover {
    background-color: var(--pink);
    color: var(--white);
}

.ButtonPink {
    background-image: linear-gradient(to right, var(--pink), var(--pinkDark));
    border: 1px solid var(--pinkDark);
    color: var(--white);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /*min-width: 220px;*/
    font-weight: bold;
    border-radius: 20px;
    min-width: 60px;

}

.ButtonPink:hover {
    /*background-color: var(--SecondaryColor);*/
    color: var(--white);
    /*border-color: var(--BorderColor);*/
    border: 1px solid;
}


/* RESPONSIVE */

@media screen and (max-width: 770px) and (max-height: 840px) {
    .ButtonClassic {
        padding: 12px 26px;
        font-size: 16px;
        min-width: 160px;
    }
}

@media screen and (max-width: 425px) and (max-height: 840px) {
    .ButtonClassic {
        padding: 6px 12px;
        font-size: 12px;
        min-width: 70px;
    }

    .ButtonPink {
        padding: 8px 16px;
        font-size: 12px;
        border-radius: 20px;

    }
}


@media screen and (max-width: 320px) and (max-height: 768px) {

    .ButtonPink {
        padding: 6px 12px;
        font-size: 10px;

    }
}
