@import "./Styles/settings.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: radial-gradient(circle, #262562, #11102F);*/
  background: radial-gradient(circle, #364186, #1b1934);
  color: var(--TextColor);
  /*background: url('Assets/SVG/backgroundSVG.svg') center/cover no-repeat;*/
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*--black: rgba(0, 0, 0, 0.85);*/
  /*--PrimaryColor: #11102F;*/
  /*--PrimaryColor: rgba(27, 25, 52, 0.5);*/
  /*--SecondaryColor: rgba(19, 17, 52, 0.62);*/
  --black: rgba(0, 0, 0, 0.7);
  --PrimaryColor: rgba(27, 25, 52, 0.9);
  --SecondaryColor: rgba(19, 17, 52, 0.45);

  --white: #fff;
  --SecondaryColorV1: #131134;
  --BorderColor: #2E2C51;
  --TextColor: #ACA5FF;
  --pink: #ff2e63;
  --pinkDark: #600c30;
  --ModalTitle: #ACA5FF;
  --ModalText: #9994cc;
  --DisabledButton: #727272;
  --Green: #29d53e;
  --Red: #ff2e63;

  /* PROGRESSBAR */

  --PGColor1: #1E1D44;
  --PGColor2: #004D00;
  --PGColor3: #8B0000;

  --CircleColor1: #ff6a00;
  --CircleColor2: #60ff75;
  --CircleColor3: #ffab2e;
  --CircleColor4: #ff2e63;
  --CircleColor5: #9abaff;
  --CircleColor6: #0990ff;
  --CircleColor7: #ffee2e;
  --CircleColor8: #b6b6b6;
  --CircleColor9: #ea2eff;
  --CircleColor10: #2effee;

}

