@import "./Styles/settings.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--PrimaryColor);
  color: var(--TextColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: rgba(0, 0, 0, 0.85);
  --white: #fff;
  --PrimaryColor: #11102F;
  --SecondaryColor: #131134;
  --BorderColor: #2E2C51;
  --TextColor: #ACA5FF;
  --pink: #ff2e63;
  --ModalTitle: #ACA5FF;
  --ModalText: #9994cc;
}

